<!doctype html>
<html lang="en">
 <head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

 <title>Petozone</title>
 </head>
 <body style="background-color:rgb(249, 255, 255);">

 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 <div class="container-fluid">
 <a class="navbar-brand" href="#">Petozone</a>
 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
 <li class="nav-item ">
 <a class="nav-link active " aria-current="page" href="/index">Home</a></li>
 <li class="nav-item active">
 <a class="nav-link " href="/confirm">Book an Appointment</a>
 </li>
 <li class="nav-item active">
 <a class="nav-link " href="/about">About Us</a>
 </li>

 <li class="nav-item dropdown ">
 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"data-bs-toggle="dropdown" aria-expanded="false">Facility</a>
 <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
 <li><a class="dropdown-item" href="/med">Veterinary drug</a></li>
 <li><a class="dropdown-item" href="/doctor">Veterinary Doctor</a></li>

 <li>
 <hr class="dropdown-divider">
 </li>
 <li><a class="dropdown-item" href="https://www.google.com/maps/search/veterinary+care/@19.3027551,72.8597154,15z">Nearby
 Pet Supplier</a></li>
 </ul>
 </li>

 </ul>


 </div>
 </div>
 </nav>
<div class="row featurette">
 <div class="col-md-7 my-5" styl>
 <h2 class="featurette-heading">ABOUT PetOzone:<span class="text-muted"></span></h2>
 <p class="lead">PetOzone is an All-in-one Pet care service provider. We have partnered with various pet care providers, animal medicine suppliers, veterinary doctors & specialists to provide you with the necessary products and services for your pets. We provide services like Pet.A Commitment to provide the Best Pet Care available
    We at PetOzone understand the love our customers have for their pets want them to feel valued and be left satisfied; hence we try our hardest to provide you with the best Pet Care in the market so that you can show your pets exactly how much they are loved and cared for.
     </p>
 </div>
 <div class="col-md-5 my-2" >
 <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="image/hhh.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

 </div>
 </div><div class="row featurette">
 <div class="col-md-7 my-5" styl>
 <h2 class="featurette-heading">Transforming E-Commerce for Pets- <span class="text-muted"></span></h2>
 <p class="lead">Our mission is to design an E-commerce website specifically for buying prescription drugs for pets. It is to provide you with an online system for booking appointments and consultations with veterinary doctors & to give you an online retail store offering products for all your pet’s needs.Understanding the Importance of Trust
    When you order any of our products &/or pay for any of our services, you put your trust in us and we understand the importance of not breaking that trust, hence we give a personal guarantee to provide you with the best pet care services and customer satisfaction and a 24/7 customer support to make sure that your trust in us remains intact.
    </p>
 </div>
 <div class="col-md-5 my-2" >
 <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"src="image/doog.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></img>

 </div>
 </div>
 <div class="row my-1" style="margin-right: 2vh; margin-left: 5vh;">
 <div class="col-lg-4">
 <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="image/contac.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

 <h2>Author</h2>
 <p>Thank you for visiting our website.</p>
 <p><a class="btn btn-secondary" href="#">View details »</a></p>
 </div><!-- /.col-lg-4 -->
 <div class="col-lg-4">
 <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="image/contac.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

 <h2>Author</h2>
 <p>Thank you for visiting our website.</p>
 <p><a class="btn btn-secondary" href="#">View details »</a></p>
 </div><!-- /.col-lg-4 -->
 <div class="col-lg-4">
 <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="image/contac.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

 <h2>Author</h2>
 <p>Thank you for visiting our website.</p>
 <p><a class="btn btn-secondary" href="#">View details »</a></p>
 </div><!-- /.col-lg-4 -->
 </div>


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


 </body>
</html>