<!doctype html>
<html lang="en">
 <head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style4.css">

 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">



 </head>
 <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Petozone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
        <a class="nav-link active " aria-current="page" href="/index">Home</a></li>
        <li class="nav-item ">
        <a class="nav-link  active " href="/confirm">Book an Appointment</a>
        </li>
        <li class="nav-item ">
        <a class="nav-link active" href="/about">About Us</a>
        </li>
        <li class="nav-item ">
        <a class="nav-link active " href="/login">Log Out</a>
        </li>

        <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"data-bs-toggle="dropdown" aria-expanded="false">Facility</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/med">Veterinary drug</a></li>
        <li><a class="dropdown-item" href="/doctor">Veterinary Doctor</a></li>

        <li>
        <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="https://www.google.com/maps/search/veterinary+care/@19.3027551,72.8597154,15z">Nearby
        Pet Supplier</a></li>
        </ul>
        </li>

        </ul>



        </div>
        </div>

        </nav>
 <form name="order" id="order">
 <table>
 <thead>
 <tr>
 <td>
 <label for="productID">Prescription:</label>
 </td>
 <td>
 <input id="productID" name="product" type="text" size="12" required/>
 </td>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>
 <label for="product">Medicine Name:</label>
 </td>
 <td>
 <input id="product_desc" name="product" type="text" size="12" required/>
 </td>
 </tr>
 <tr>
 <td>
 <label for="quantity">Quantity:</label>
 </td>
 <td>
 <input id="quantity" name="quantity" size="12" required/>
 </td>
 </tr>
 <tr>
 <td>
 <label for="price">Price(As mentioned on our website):</label>
 </td>
 <td>
 <input id="price" name="price" size="12" required/>
 </td>
 </tr>
 </tbody>
 </table>
 <input type="reset" name="reset" id="resetbtn" class="resetbtn" value="Reset" />
 <input type="button" id="btnAddProduct" onclick="addProduct();" value="Add New Product" >
</form>
<br>
<p id="demo"></p> <br/>
<h2> Shopping Cart </h2>
<p id="demo2"></p>
<h2>Grand Total:</h2>
<p id="demo3"></p>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


 </body>
 <script src="js/add.js"></script>
</html>