<html>
    <body>
        <label>KEY:</label>
        <input type="text" id="key"><br>
        <label>NAME:</label>
        <input type="text" id="name"><br>
        <label>NUMBER:</label>
        <input type="text" id="number"><br>
        <button onclick="sendUpdateRequest()">GO</button>
        <label>Status:</label><h3 id="status"></h3>
    </body>
    <script src="js/admin_doc.js"></script>
</html>