<html>
    <body>
        <label>KEY:</label>
        <input type="text" id="key"><br>
        <label>NAME:</label>
        <input type="text" id="name"><br>
        <label>PRICE:</label>
        <input type="text" id="price"><br>
        <label>STOCK:</label>
        <input type="text" id="stock"><br>
        <button onclick="sendUpdateRequest()">GO</button>
        <label>Status:</label><h3 id="status"></h3>
    </body>
    <script src="js/admin_inv.js"></script>
</html>