<!doctype html>
<html lang="en">

<head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="css/style3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <title>Petozone</title>


</head>
 <body style="background-color:rgb(249, 255, 255);">
 <nav class="navbar navbar-expand-lg navbar-dark bg-success">
 <div class="container-fluid">
 <a class="navbar-brand" href="#"> Petozone</a>
 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
 <li class="nav-item ">
 <a class="nav-link active " aria-current="page" href="/index">Home</a></li>

 <li class="nav-item ">
 <a class="nav-link active" href="/about">About Us</a>
 </li>
 <li class="nav-item ">
 <a class="nav-link active " href="/login">Log Out</a>
 </li>

 <li class="nav-item dropdown ">
 <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"data-bs-toggle="dropdown" aria-expanded="false">Facility</a>
 <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
 <li><a class="dropdown-item" href="/med">Veterinary drug</a></li>
 <li><a class="dropdown-item" href="/doctor">Veterinary Doctor</a></li>

 <li>
 <hr class="dropdown-divider">
 </li>
 <li><a class="dropdown-item" href="https://www.google.com/maps/search/veterinary+care/@19.3027551,72.8597154,15z">Nearby
 Pet Supplier</a></li>
 </ul>
 
 
 <li class="nav-item ">
<a class="nav-link active fa fa-fw fa-lock " onclick="openForm()" aria-current="page"  href="/dlogin" >ADMIN</a>
 </li>
 </li>
 </ul>
 



 </div>
 </div>

 </nav>


 <marquee behavior="scroll">
 <h3>Now You can buy medicine through our website <span class="badge bg-info text-dark">Update</span></h3>
 </marquee>
 <div id="carouselExampleCaptions" class="carousel slide carousel-fade " data-bs-ride="carousel">
 <div class="carousel-indicators">
 <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
 <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"aria-label="Slide 2"></button>
 <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"aria-label="Slide 3"></button>
 </div>
 <div class="carousel-inner">
 <div class="carousel-item active">
 <img src="image/catt.jpg" class="d-block w-100" alt="...">
 <div class="carousel-caption d-none d-md-block">
 <h5>Love animal</h5>
 <p>They are best friend of yours.</p>

 </div>
 </div>
 <div class="carousel-item">
 <img src="image/dogg.jpg" class="d-block w-100" alt="...">
 <div class="carousel-caption d-none d-md-block">
 <h5>Love animal</h5>
 <p>They are best friend of yours.</p>

 </div>
 </div>
 <div class="carousel-item">
 <img src="image/ve.jpg" class="d-block w-100" alt="...">
 <div class="carousel-caption d-none d-md-block">
 <h5>Love animal</h5>
 <p>They are best friend of yours.</p>

 </div>
 </div>
 </div>
 <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"data-bs-slide="prev">
 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
 <span class="visually-hidden">Previous</span>
 </button>
 <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"data-bs-slide="next">
 <span class="carousel-control-next-icon" aria-hidden="true"></span>
 <span class="visually-hidden">Next</span>
 </button>
 </div>

 <div class="tes my-4">
 <div class="accordion" id="accordionExample">
 <div class="accordion-item">
 <h2 class="accordion-header" id="headingOne">
 <b>FAQS</b>
 <button class="accordion-button" type="button" style="background-color: #5bc0de; color: rgb(30, 4, 41); font-weight: 700;"data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"aria-controls="collapseOne">
 Accordion Why choose PetOzone?
 </button>
 </h2>
 <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"data-bs-parent="#accordionExample">
 <div class="accordion-body">
 <strong>We believe in providing the best healthcare services that you pet not only needs but also deserves.</strong>

 </div>
 </div>
 </div>
 <div class="accordion-item">
 <h2 class="accordion-header" id="headingTwo">
 <button class="accordion-button collapsed" type="button"style="background-color: #5bc0de; color: black; font-weight: 700;" data-bs-toggle="collapse"data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
 Accordion What is the importance of PetOzone?
 </button>
 </h2>
 <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"data-bs-parent="#accordionExample">
 <div class="accordion-body">
 <strong> There is a great lack in veterinary clinics and places where the right medicines for your pets can be bought and we are the one stop portal to provide both the best medical care for your pets and to connect you to any and all vets near you.</strong>

 </div>
 </div>
 </div>
 <div class="accordion-item">
 <h2 class="accordion-header" id="headingThree">
 <button class="accordion-button collapsed"style="background-color: #5bc0de; color: black; font-weight: 700;" type="button"data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"aria-controls="collapseThree">What are the benefits of using PetOzone over other similar services?
 </button>
 </h2>
 <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"data-bs-parent="#accordionExample">
 <div class="accordion-body">
 <strong>) We provide a user friendly interface to make ‘giving your pets the best care it needs’ as easy as it is to love them.</strong>
 </div>
 </div>
 </div>
 </div>
 </div>
 <div class="card">
 <div class="containe my-3">
 <div class="row mb-2">
 <div class="col-md-6">
 <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-150 position-relative">
 <div class="col p-3 d-flex flex-column position-static">
 <strong class="d-inline-block mb-2 text-primary">Pet</strong>
 <h3 class="mb-0">Love for pet</h3>
 //- <div class="mb-1 text-muted"></div>
 <p class="card-text mb-auto">This website provides you one stop solution for all your pet needs. From online veterinary doctor appointment, drug prescription, to retail store for all pet supplies, we have everything covered. </p>
 <a href="/about" class="stretched-link">Continue reading</a>
 </div>
 <div class="col-auto d-none d-lg-block">
 <img class="bd-placeholder-img" width="200" height="250" src="image/clinc.jpg" alt="" srcset="">

 </div>
 </div>
 </div>
 <div class="col-md-6">
 <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
 <div class="col p-4 d-flex flex-column position-static">
 <strong class="d-inline-block mb-2 text-success">Pet</strong>
 <h3 class="mb-0"></h3>
 //- <div class="mb-1 text-muted">Nov 11</div>
 <p class="mb-auto">We offer subscriptions for regular pet supplies along with commision on appointments.
 additional </p>
 <a href="/about" class="stretched-link">Continue reading</a>
 </div>
 <div class="col-auto d-none d-lg-block">
 <img class="bd-placeholder-img" width="200" height="250" src="image/logo.png" alt="" srcset="">


 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 <section class="sponsors section overlay-white">
    <div class="container">
    <div class="row">
    <div class="col-12">
    <div class="section-title">
    <h3>Our <span class="alternate">Sponsors</span></h3>
    <p></p>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
    <!-- Title -->

    <div class="block text-center">
    <!-- Sponsors image list -->
    <ul class="list-inline sponsors-list">

    <li class="list-inline-item">
    <div class="image-block text-center">
    <a href="#">
    <img src="image/sp3.png" alt="sponsors-logo" width="100" class="img-fluid">
    </a>
    </div>
    </li>
    <li class="list-inline-item">
    <div class="image-block text-center">
    <a href="#">
    <img src="image/sp1.png" alt="sponsors-logo" class="img-fluid">
    </a>
    </div>
    </li>
    <li class="list-inline-item">
    <div class="image-block text-center">
    <a href="#">
    <img src="image/sp2.png" alt="sponsors-logo" class="img-fluid">
    </a>
    </div>
    </li>
    </ul>
    </div>
    <!-- Title -->
    <div class="sponsor-title text-center">

</section>
<div class="form-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>



 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"crossorigin="anonymous"></script>
 </body>
<script>function openForm() {document.getElementById("myForm").style.display = "block";}function closeForm() {document.getElementById("myForm").style.display = "none";}</script>

</html>
