<!doctype html>
<html lang="en">
 <head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">


 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
 <script type="text/javascript">function lekhan(){var x = document.getElementById('name');var y = document.getElementById('frame');y.src = 'https://www.marshallspetzone.com/content/11-st-search?q='+x.value;}</script>
 <title>petozone</title>
 </head>
 <body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 <div class="container-fluid">
 <a class="navbar-brand" href="#">Petozone</a>
 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
 <li class="nav-item active">
 <a class="nav-link active " aria-current="page" href="/index">Home</a>
 </li>
 <li class="nav-item active">
 <a class="nav-link active " href="/confirm">Book an Appointment</a>
 </li>
 <li class="nav-item active">
 <a class="nav-link active" href="/about">About Us</a>
 </li>
 <li class="nav-item active">

 <a class="nav-link active" href="/add"><strong><b>Checkout</b></strong></a>
 </li>

 <li class="nav-item dropdown ">
 <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Facility</a>
 <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
 <li><a class="dropdown-item" href="/med" target="_blank">Veterinary drug</a></li>
 <li><a class="dropdown-item" href="/doctor">Veterinary Doctor</a></li>

 <li><hr class="dropdown-divider"></li>
 <li><a class="dropdown-item" href="https://www.google.com/maps/search/veterinary+care/@19.3027551,72.8597154,15z">Nearby Pet Supplier</a></li>
 </ul>
 </li>

 </ul>


 </nav>
 <div class="alert alert-primary alert-dismissible fade show" role="alert">
 <strong>Checkout !!!</strong> For checkout and total cost of medicine click on Checkout in Nav bar
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
 <h1>Search For Medicine:</h1>
 <form>
 <input type='text' id='name' size="28"/>
 <input type='button' value='search' onclick="lekhan();"/><br>
 <iframe src='' height='600px' width='800px' id='frame'></iframe>
 </form>


 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


 </body>
</html>