table {
    width: 100%;
    border-collapse: collapse;
    background-color: #d4d4d4;
   }
   /* Zebra striping */
   tr:nth-of-type(odd) {
    background: rgb(214, 214, 214);
   }
   th {
    background: #333;
    color: rgb(226, 226, 226);
    font-weight: bold;
   }
   td, th {
    padding: 6px;
    border: 1px solid rgb(223, 221, 221);
    text-align: left;
   }
   @media
   only screen and (max-width: 760px),
   (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
    display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    }

    td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    }
    body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #d4d4d4;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    }
   }